@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap");
header .top-links {
  background-color: #000;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
header .top-links a, header .top-links span {
  color: #fff;
}
header .top-links a {
  text-decoration: underline;
}
header .navbar-light .navbar-toggler {
  border-color: #fff;
}

aside {
  border: 1px #ccc solid;
  margin-bottom: 20px;
  display: table;
}
aside h3 {
  color: #CE3920;
  margin-top: 6px;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
aside ul {
  padding-left: 20px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #818181;
}
aside h4 {
  color: #60928C;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}
aside .cores {
  display: table;
  list-style: none;
}
aside .cores .vermelho {
  background-color: red;
  margin-right: 2px;
}
aside .cores .laranja {
  background-color: orange;
  margin-right: 2px;
}
aside .cores .azul {
  background-color: blue;
  margin-right: 2px;
}
aside .cores .cor {
  float: left;
  width: 30px;
  height: 20px;
}

@media (min-width: 1024px) {
  header .navbar-collapse {
    margin-top: 15px;
    background-color: #CE3920;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  header .navbar-collapse .navbar-nav a.nav-link {
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
  }
  header .navbar-collapse .navbar-nav .nav-item {
    margin-right: 40px;
  }
  header .navbar-expand-lg {
    flex-flow: wrap;
    padding: 0;
  }
  header .navbar-brand {
    margin-top: 15px;
    margin-bottom: 5px;
  }
}
section.links {
  margin-bottom: 15px;
}
section.links span {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}
section.links span.shoes {
  color: #CE3920;
}
section .sort {
  width: 100%;
}
section .sort h1 {
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #CE3920;
}
section .sort .sort-nav {
  display: table;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
section .sort .grid {
  float: left;
  color: #60928C;
}
section .sort .list {
  float: left;
}
section .sort .dropdown {
  float: right;
}
section .sort .dropdown .dropdown-title {
  margin-right: 8px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #818181;
}
section .sort .dropdown .btn-secondary {
  text-align: left;
  background: #fff;
  color: #000;
  border-color: #ccc;
  font-size: 12px;
  width: 150px;
  padding: 3px 10px;
}
section .sort .dropdown .btn-secondary:after {
  float: right;
  margin-top: 8px;
}
section .produto {
  text-align: center;
  margin-bottom: 20px;
}
section .produto .title {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #818181;
  margin-bottom: 20px;
  display: block;
}
section .produto .preco {
  border: 1px #fff solid;
  margin: 3px;
  width: 100%;
  display: block;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #CE3920;
}
section .produto .btn-primary {
  width: 100%;
  background: #60928C;
  border-color: #60928C;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 14px;
}
section .produto img {
  border: 1px #ccc solid;
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
}

footer {
  margin-top: 40px;
  width: 100%;
  height: 100px;
  background-color: #CE3920;
}

@media (max-width: 767px) {
  section .grid, section .list {
    display: none;
  }
}
@media (min-width: 1024px) {
  section .sort .sort-nav {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  section .sort .dropdown .btn-secondary {
    width: 200px;
  }
  section .produto .title {
    font-size: 15px;
  }
  section .produto img {
    height: 170px;
  }
}

/*# sourceMappingURL=style.css.map */
