section{
  &.links {

    margin-bottom: 15px;
    span{
      font-size:10px;
      font-family: 'Open Sans', sans-serif;
      &.shoes{
        color:#CE3920;
      }
    }
  }
  .sort{
    width: 100%;
    h1{
      font-size: 28px;
      font-family: 'Open Sans', sans-serif;
      color:#CE3920;

    }
    .sort-nav{
      display: table;
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 25px;
    }
    .grid{
      float: left;
      color: #60928C;
    }
    .list{
      float: left;
    }
    .dropdown{
      float: right;
      .dropdown-title{
        margin-right: 8px;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        color:#818181;
      }
      .btn-secondary{
        text-align: left;
        background: #fff;
        color: #000;
        border-color: #ccc;
        font-size: 12px;
        width: 150px;
        padding: 3px 10px;
        &:after{
          float: right;
          margin-top: 8px;
        }
      }

    }
  }
  .produto{
    text-align: center;
    margin-bottom: 20px;
    .title{
      font-size:14px;
      font-family: 'Open Sans', sans-serif;
      text-align:center;
      color:#818181 ;
      margin-bottom: 20px;
      display:block;

    }
    .preco{
      border: 1px #fff solid; margin: 3px;
      width: 100%;
      display: block;
      font-size:18px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      color:#CE3920 ;

    }
    .btn-primary{
      width: 100%;
      background: #60928C;
      border-color: #60928C;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      font-size: 14px;
    }
    img{
      border: 1px #ccc solid;
      margin-bottom: 10px;
      width: 100%;
      height: 150px;
    }
  }
}

footer{
  margin-top:40px;
  width: 100%;
  height:100px;
  background-color: #CE3920;
}


@media (max-width: 767px) {
  section{

  .grid, .list{
    display: none;
   }
  }
}


@media (min-width: 1024px){
  section{
    .sort{
      .sort-nav{
        border-top: 1px solid #ccc;
        padding-top: 10px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        margin-bottom: 25px;
      }
      .dropdown{
        .btn-secondary{
          width: 200px;
        }
      }

    }
    .produto {
      .title{
        font-size: 15px;
      }
      img {
        height: 170px;
      }
    }
  }
}