header{
.top-links{
  background-color: #000;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  a, span {
    color:#fff;
  }
  a{
    text-decoration: underline;
  }
}
  .navbar-light {
  .navbar-toggler{
    border-color:#fff;
  }
  }
}

aside{

  border: 1px #ccc solid;
  margin-bottom: 20px;
  display: table;

  h3{  color:#CE3920;
    margin-top: 6px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;

  }
  ul{
    padding-left: 20px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #818181;

  }
  h4{
    color:#60928C;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
  }
  .cores{
    display: table;
    list-style: none;
    .vermelho{
      background-color:red;
      margin-right: 2px;
    }
    .laranja{
      background-color:orange;
      margin-right: 2px;
    }
    .azul{
      background-color: blue;
      margin-right: 2px;
    }
    .cor{
      float:left;
      width:30px;
      height:20px;
    }
  }
}

@media (min-width: 1024px){
  header{
    .navbar-collapse{
      margin-top: 15px;
      background-color: #CE3920;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 20px;

      .navbar-nav{
      a.nav-link{
        color: #ffffff;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        font-size: 12px;
        text-transform: uppercase;
      }
        .nav-item{
          margin-right: 40px;
        }
      }
    }
    .navbar-expand-lg {

      flex-flow: wrap;
      padding:0;

    }
    .navbar-brand {
     margin-top:15px;
      margin-bottom: 5px;
    }
  }
}
